@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
    url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Heavy.woff') format('woff'),
    url('../fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-LightItalic.eot');
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
    url('../fonts/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-LightItalic.woff') format('woff'),
    url('../fonts/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ThinItalic.eot');
    src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
    url('../fonts/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ThinItalic.woff') format('woff'),
    url('../fonts/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-BlackItalic.eot');
    src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
    url('../fonts/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-BlackItalic.woff') format('woff'),
    url('../fonts/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-BoldItalic.eot');
    src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
    url('../fonts/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-BoldItalic.woff') format('woff'),
    url('../fonts/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
    url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-UltraLightItalic.eot');
    src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
    url('../fonts/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-UltraLightItalic.woff') format('woff'),
    url('../fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBoldItalic.eot');
    src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
    url('../fonts/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-MediumItalic.eot');
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
    url('../fonts/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-MediumItalic.woff') format('woff'),
    url('../fonts/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBoldItalic.eot');
    src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
    url('../fonts/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-HeavyItalic.eot');
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
    url('../fonts/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-HeavyItalic.woff') format('woff'),
    url('../fonts/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-RegularItalic.eot');
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
    url('../fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-RegularItalic.woff') format('woff'),
    url('../fonts/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
    url('../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-UltraLight.woff') format('woff'),
    url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Thin.eot');
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
    url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Thin.woff') format('woff'),
    url('../fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
    url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Black.woff') format('woff'),
    url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: "Gilroy", sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

#wrapper {
    min-height: 100%;
    padding-bottom: 250px;
    position: relative;
    background: #0B113F;
}

.bolder {
    font-weight: 900;
}

.btn--gradient {
    background: linear-gradient(98.11deg, #A06BFD 5.64%, #02D3FF 91.53%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 23px 30px rgba(237, 37, 181, 0.18);
    border-radius: 6px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: all .5s;
}

.title {
    font-weight: 500;
    font-size: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
/* \Global */


/* Header */
.header {
    position: absolute;
    top: 52px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {}

.header__btn {
    border: 1px solid #ED25B5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 23px 30px rgba(237, 37, 181, 0.18));
    border-radius: 6px;
    height: 100%;
    max-width: 186px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
}

.header__btn:hover {
    background: #ED25B5;
}
/* \Header */


/* Navigation */
.nav {}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav__item {
    margin-right: 116px;
}

.nav__item:nth-last-of-type(1) {
    margin-right: 0;
}

.nav__link {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nav__link:hover {
    text-decoration: underline;
}
/* \Navigation */

/* Intro */
.intro {
    background-color: #050843;
    position: relative;
}

.intro__bg-img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.intro__content {
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.intro__title {}

.intro__btn {
    max-width: 186px;
    margin: 100px auto 0;
}

.intro__btn:hover {
    background-position: 186px 0;
}
/* \Intro */


/* About us */
.about {
    background: #0B113F;
    position: relative;
    padding-top: 160px;
    margin-bottom: 105px;
}

.about:before,
.about:after {
    content: url("../images/about-us_bg.png");
    position: absolute;
    top: -230px;
    z-index: 0;
}

.about:before {
    left: 0;
}
.about:after {
    right: 0;
    transform: scale(-1, 1)
}

.about__title {
    margin-bottom: 45px;
}

.about__desc {
    font-weight: 400;
    font-size: 22px;
    line-height: 142.5%;
    text-align: center;
    color: #FFFFFF;
}

.about__desc > p {
    margin-bottom: 30px;
}
/* \About us */


/* Contacts */
.contacts {
    margin-bottom: 132px;
}

.contacts__title {
    margin-bottom: 30px;
}

.contacts__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.contacts__item {
    width: calc(50% - 15px);
    background: #1F244E;
    border-radius: 17px;
    text-align: center;
    padding: 0 77px;
}

.contacts__img {
    display: block;
    margin: 63px auto 21px;
}

.contacts__caption {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.contacts__desc {
    color: #989ECA;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 160.02%;
    text-align: center;
    margin-bottom: 30px;
}

.contacts__btn {
    max-width: 186px;
    margin: 0 auto 49px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 23px 30px rgba(2, 211, 255, 0.15);
}

.contacts__btn:hover {
    background-position: 186px 0;
}
/* \Contacts */

/* Footer */
.footer {
    height: 250px;
    margin-top: -250px;
    background: url("../images/footer_bg.png") no-repeat;
    background-size: contain;
    position: relative;
    padding-top: 100px;
}

.footer__bg-wrap {
    background: #252A53;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .container {
    width: 100%;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {}

.footer__logo > img {
    width: 100%;
}

.footer__socials {
    list-style: none;
    display: flex;
}

.footer__social {
    margin-right: 22px;
}

.footer__social:nth-last-of-type(1) {
    margin-right: 0;
}

.footer__link {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #0B113F;
}

.footer__link > img {
    transition: all .3s;
}

.footer__link:hover > img {
    transform: scale(1.3);
}

.footer__copyright {
    width: 100%;
    height: 40px;
    background: #1F244E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
}
/* \Footer */


/* Adaptive */
@media (max-width: 1140px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1270px) {
    .intro__content {
        top: 220px;
    }
}

@media (max-width: 1120px) {
    .title {
        font-size: 45px;
    }
    
    .intro__btn {
        margin-top: 40px;
    }
}

@media (max-width: 960px) {
    #wrapper {
        padding-bottom: 220px;
    }
    .footer {
        padding-top: 80px;
        height: 220px;
        margin-top: -220px;
    }
}

@media (max-width: 821px) {
    .contacts__item {
        padding: 0 50px;
    }
    .about__desc {
        font-size: 18px;
    }
    .about__desc > p {
        margin-bottom: 15px;
    }
    .about:before,
    .about:after {
        display: none;
    }
    .intro__content {
        top: 150px;
    }
    .about {
        padding-top: 100px;
    }
    .header {
        top: 30px;
    }
    .intro__title {
        font-size: 38px;
    }
}

@media (max-width: 770px) {
    #wrapper {
        padding-bottom: 160px;
    }
    .footer {
        padding-top: 50px;
        height: 160px;
        margin-top: -160px;
    }
}

@media (max-width: 715px) {
    .contacts__caption {
        font-size: 20px;
    }
}

@media (max-width: 680px) {
    .nav__item {
        margin-right: 50px;
    }
    .intro {
        padding-bottom: 80px;
    }
}

@media (max-width: 670px) {
    .contacts__list {
        flex-wrap: wrap;
    }
    .contacts__item {
        width: 100%;
        margin-bottom: 20px;
    }
    .header__btn {
        display: none;
    }
}

@media (max-width: 580px) {
    .intro__content {
        top: 50%;
        transform: translate(-50%, -30%);
    }
}

@media (max-width: 545px) {
    .footer__link {
        height: 40px;
        width: 40px;
    }
    .footer__link > img {
        width: 15px;
    }
    .footer__logo {
        width: 180px;
    }
    .footer .nav {
        display: none;
    }
    .title {
        font-size: 32px;
    }
}

@media (max-width: 478px) {
    .contacts {
        margin-bottom: 90px;
    }
    .footer {
        padding-top: 15px;
    }
    .footer__bg-wrap {
        justify-content: flex-end;
    }
    .footer__content {
        margin-bottom: 20px;
    }
    .intro {
        padding-bottom: 160px;
    }
    .about {
        padding-top: 70px;
    }
    .about__title {
        margin-bottom: 25px;
    }
}

@media (max-width: 430px) {
    .header__logo > img {
        width: 150px;
    }
    .nav__item {
        margin-right: 30px;
    }
}

@media (max-width: 380px) {
    .intro__title {
        font-size: 28px;
    }
    .intro__btn {
        height: 40px;
        max-width: 150px;
    }
    .intro__btn:hover {
        background-position: 150px 0;
    }
    .nav {
        margin-bottom: 5px;
    }
}

@media (max-width: 360px) {
    .intro__title {
        font-size: 24px;
    }
    .intro__btn {
        margin-top: 20px;
    }
    .nav__link {
        font-size: 13px;
    }
    .header__logo > img {
        width: 130px;
    }
    .header {
        top: 15px;
    }
    .nav__item {
        margin-right: 15px;
    }
}
/* \Adaptive */